
@{
    ViewBag.Title = "Index";
}




<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>

	<center><h2 >Welcome here you can buy all your games from your childhoud</h2></center>



	<img  src="~/Images/indexbakround.jpg" alt="HTML5 Icon" class="center">




</body>
</html>


