
@{
    ViewBag.Title = "Info";
}



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>

	<h1>about oss</h1>
	<text>

		The Biggest Collection of Games for Sale in the World

		Retrogames began back in 1995, as a fanzine for collectors of classic videogames.
		At the back of the magazine we listed items for sale, and this part of the magazine soon became the most popular.

		Launched in 1998, our website is still getting bigger all the time, and we now have the
		largest collection of games available on the internet. We cover ALL formats, from 1000s of ZX Spectrum
		and Commodore 64 games to classic Atari VCS Cartridges and Sega Megadrive Games. We have sections for all Nintendo
		and Sega formats, Playstation 1 and two, and a huge selection of handheld and tabletop games too.
		In fact, it’s pretty hard to find a retro format we don’t stock!
	</text>
	<br />
	<br />
	<h1>You Can Trust Us</h1>

	<br /><br />
	<text>
		You Can Trust Us

		Unlike inferior copycat sites, Retrogames was created by collectors,
		for collectors. We really care that you are happy with your purchase, and like to
		deal with our customers on a personal level. When problems occasionally occur we always
		work hard to resolve them.

		Unlike the other retro sites you may stumble accross, retrogames.co.uk is not someone's
		part time hobby, or someone dabbling with selling something they know little about.
		We have a dedicated mail order office staffed by passionate gamers who really want to
		be as helpful as they can every time you deal with us. With direct royal mail collections we can
		send most parcels within a day, and our bespoke card box packaging helps us
		make insure your parcel is sent not only quickly, but arrives in the same condition it left in.


	</text>





</body>
</html>