
@{
    ViewBag.Title = "saveOrder";
}

<h2>saveOrder</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>

	<h1> Your order has been sent thanks for shoping at Retrogames</h1>


</body>
</html>
